<body style="background-image: url('https://i.pinimg.com/originals/ca/e0/1a/cae01ab5cce960db0d7819cc96e97ce8.png');
background-size: 100%;
background-repeat: no-repeat;">
<!--        style="background-color: #3D7DCA;"-->


<div style="text-align: center">
    <a href="/" style="color: black;">see all pokemon</a> ||
    <a href="/pokemon" style="color: black;">see favorites</a>
</div>

<!--PLEASE DON'T BE UPSET THAT I DID ALL MY STYLING ON THIS PAGE. I WAS HAVING TROUBLE LINKING MY CSS TO THESE PAGES AND
I WANTED SUCH SPECIFIC STYLING, IT JUST DIDN'T FEEL WORTH LOSING HOW IT LOOKED-->

<div class="card" style="width: 60rem;
    margin: 5% auto;
    border-radius: 5%;
    background-color: #FFCB05;
    border: solid 10px #c69f03;">
    <h3 class="card-title" style="text-align: center;"><%= pokemon.name %></h3>
    <img src="<%= pokemon.sprites.front_default %>" class="card-img-top" alt="front sprite default"
         style="border: solid 10px #c69f03;
         background-color: #f8efcc;
         width: 90%;
         height: 70%;
         border-radius: 5%;
         padding: 0;
        margin: 20px auto;">
    <div class="card-body" style="text-align: center;">
        <p class="card-text"><strong>height: </strong><%= pokemon.height %><br>
            <strong>type(s): </strong><br>
            <% pokemon.types.forEach(p => { %>
                ◦ <%= p.type.name %><br>
            <% }) %>
            <strong>abilities: <br></strong>
            <% pokemon.abilities.splice(0, 5).forEach(p => { %>
                ◦ <%= p.ability.name %><br>
            <% }) %>
        </p>

    </div>
</div>
</body>

